<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(183, 183, 183);
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }


</style>

<header>
  <nav>
    <h1>title</h1>
    <h2><form method="GET" action='/login'><button class="submit">Login</button></h2>
    <h3><form method="GET" action='/signup'><button class="submit">SignUp</button></h2>
  </nav>
</header>
