<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(183, 183, 183);
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }


</style>

<header>
  <nav>
    <% if (user) { %>
      <span><%= user.email %></span>
    <% } else { %>
      <a class="nav-item nav-link" style="margin: 0cm 1em" href="/login">Click here to login</a>
      <a class="nav-item nav-link" style="margin: 0cm 1em" href="/signup">Click here to sign up</a>
    <% } %>
  </nav>
</header>
