<link href="/styles/nav.css" rel="stylesheet" type="text/css" >

<header>
  <nav>
    <h1>Newton</h1>




    <div class="user-buttons">
      <form>
        <button>Login</button>
      </form>

      <form>
        <button>Sign Up</button>
      </form>



    </div>
  </nav>
</header>

