
<link href="/styles/nav.css" rel="stylesheet" type="text/css" >

<header>
  <nav>
    <form method="GET" action="/:userid">
     <button class='title hvr-grow'>Newton</button>
    </form>
  </nav>
</header>
