<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<%- include('./partials/_header') %>
<body>
  <h1>></h1>
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button method="GET" action='/search'type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="filter">
        <form method="GET" action='/mostrecent'><button class="submit">Most Recent</button>
          <!-- make into drop down list for filter -->
     </div>
  </div>
 <div>Column one<button method="post" action='/like'></button></div> <!-- make it so adds on like (click), click again deletes -->
 <div>Column two</div>
 <div>Column three</div>
 <div>Column four</div>

</body>

  <body>
    <h1>Hello World</h1>
  </body>
</html>
