<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- App JS -->
    <script type="text/javascript" src="/scripts/profile.js"></script>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  </head>

  <body>
    <h1>Profile</h1>
    <form id="update-email" action="/profile/" method="POST">
      <label>Enter new email to update:</label>

      <input type="email" name="email" placeholder="example@email.com">
      <button type="submit">Update</button>
  </form>
  <article id="updated-email-message">
    <p>Thank you! Your email has been updated!</p>
  </article>
  <%for (let topic of topics) { %>
    <p><%= topic.name %></p>
    <form method="POST" action="/profile/<%topic.id%>">
      <button type="submit">Delete</button>
    </form>
<% } %>
  </body>
</html>





