<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Resource</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/upload.js"></script>
  </head>
  <body>
    <%- include('./partials/_header') %>
    <article>
      <form id="upload" action="/upload" method="POST">
        Enter a title for your resource:<br>
        <input id="resource-title" type="text" name="title" placeholder="Your resource title here"><br>
        Enter a short description about your resource:<br>
        <textarea id="resource-description" name="description" placeholder="What's your resource all about?!"></textarea><br>
        Enter an image URL for your resource (let us see it!):<br>
        <input type="URL" name="imageURL" placeholder="http://"><br>
        Enter the link to your resource (let us use it!):<br>
        <input type="URL" name="resourceURL" placeholder="http://"><br>
        Choose a topic for your resource:<br>
        <select name="topic" id="topic-select">
          <option value="">--Please choose an option--</option>
          <%for (let topic of resource.topics) { %>
          <option value="<%= topic.id %>"> <%= topic.name %></option>
          <% } %>
        </select><br>
        <button type="submit" >Submit</button>
      </form>
    </article>
  </body>
</html>
