#resource-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-between;
  flex-grow: 1
}

.resource-box {
  display: flex;
  background-color: rgb(213, 213, 213);
  width: 20em;
  height: 15em;
  margin: 0.5em;
  text-align: center;
  position: relative
 }

.resource-img {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.resource-title {
  right: 0;
  bottom: 0;
  position: absolute;
  padding-right: 4%;
  padding-bottom: 1.5%;
  /* font-family: 'Merriweather', serif; */
  font-family: 'Libre Baskerville', serif;
}

.like-button {
  left: 0;
  position: absolute;
  bottom: 0;
}

/* .material-icons.md-24 { font-size: 24px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); } */
/* .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); } */
