nav {
  display: flex;
  justify-content: space-between;
  background-color: #28587B;
  padding: 1em 25% 1em 21%;
  color: white;
  border: 1em;
  border-color: #031D44;
}

.title {
  display: flex;
  font-size: 3em;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-buttons button {
  margin-top: 1.5em;
  font-size: 1.2em;
  color: #fff;
  border: none;
  background-color: transparent;
  margin-left: 1em;
  cursor: pointer;
}

.user-buttons{
  display: flex;
}
