#updated-email-message {
  display: none;
}

.profile {
  margin: 0% 20%;
}

.email-form {
  height: 3em;
  width: 40%;
  font-size: 1em;
  padding-left: 1em;

}

button.email-form {
  width: 10%;
  color: brown;
  margin: auto;
}

.remove {
  border: 1px solid black;
  padding: 1em;
}

.remove-form {
  display: inline-block;
}
.remove-button {
  border: none;
  font-size: 1.5em;
  display: flex;
  cursor: pointer;
  background-color: rgb(232, 232, 232);
  padding: 0;
  border-radius: 10%;
  margin-right: .5em;
  display: inline-block;
}

#x {
  background-color: rgb(250, 85, 85);
  font-weight: bold;
  padding:0 .5em;
  border-radius: 10%;
}
