body {
 background-color: rgb(213, 213, 213);
 font-size: 1em
}

.resource {
   margin: 0% 20% 0% 20%;
   padding: 0 5% 0 5%;
   background-color: white;
   height: 100%
 }

 .img {
   text-align: center;
   padding: 1em 0 0 0;
 }

.likes-ratings {
  display:flex;
  justify-content:  flex-start;
}


 .likes-ratings button {
  width: fit-content;
  margin: 1em 0;
  background-color: transparent;
  border: none;
  padding: 0 2em;
 }

 .comment {
   border: 1px black solid;
   margin: 10px 0 10px 0;
   padding: 10px
 }

 .comment header {
   display: flex;
   justify-content:  space-between;
   margin: 10px 0 10px 0;
 }

